# Runtime
virtualenv~=21.2.0

# Build
build~=1.4.0

# Formatting
black~=26.3.1

# Validation
ruff<=0.15.10
Pyright~=1.1.408

# Testing
pytest~=9.0.2
tox~=4.50.3
bandit~=1.9.4

# Documentation

Sphinx<=9.1.0
sphinx-rtd-theme<=3.1.0

# SBOM Generation
# cyclonedx-bom~=7.3.0
# owasp-dependency-track-cli
# debsbom==0.7.2
#
# Documentation
# jupyter~=1.1.1
# jupyterlab-rise~=0.43.1

# PyPi
# twine~=6.2.0

# Security
pip>=26.1.2